/* 全局 */
body { 
  background-color: #b0dab0;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
  font:             small/1.6em Verdana, Helvetica, Arial, sans-serif;
}

/* 页眉 */
#header {
  background-color: #5cac8e;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        150%;
  font-style:       italic;
}

/* 导航 */
nav {
  background-color: #efe5d0;
  margin:           10px 10px 0px 10px;
  font-size:        120%;
  text-align:       center;
}

nav ul {
  margin:           0px;
  list-style-type:  none;
  padding:          5px 0px 5px 0px;
}

nav ul li {
  display:          inline;
  padding:          5px 10px 5px 10px;
  vertical-align:   center;
}

/* 边栏 */
#sidebar {
  background:       url(./哈利波特.jpg)bottom;
  color:            #d5eb7f;
  text-align:       center;
  font-size:        120%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
}

/* 主内容 */
#main1,#main2 {
  background:       #5cac8e;
  font-size:        100%;
  font-family:      'Courier New', Courier, monospace;
  color:            #efe5d0;
  padding:          15px;
  margin:           0px 10px 10px 10px;
} 

/* 表格 */
form {
	display:          table;
	padding:          10px;
	border:           thin dotted #7e7e7e;
	background-color: #5cac8e;
  width:            600px;
  position:         relative;
	left:             50%;
  transform:        translate(-50%);
  text-align:       center;
}

/* 页脚 */
#footer {
  background-color: #5cac8e;
  color:            #efe5d0;
  text-align:       center;
  padding:          10px;
  margin:           10px;
  font-size:        120%;
  font-style:       italic;
}

h1,h2,h3 {
  font-size:        120%;
  color:            #d5eb7f;
  font-style:       italic;
  text-align:       center;
} 